body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background: #111;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

h1, h3 {
    font-weight: 400;
}

.weather {
    min-height: 100vh;
    
    color: #fff;
    position: relative;
    transition: 500ms;
    opacity: 1; /* change to 0 when app is complete */
}

.weather::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-time,
.temp,
.weather-info {
    margin: 0 1em;
}

.city-time h1 {
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 3em;
}

.temp {
    font-size: 5em;
    margin: 0;
}

.weather-info img {
    display: block;
    margin: 0.5em 0;
}

.panel {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: 
        rgba(73, 73, 73, 0.4);
    box-shadow: 
        0 8px 32px 0 
        rgba(0, 0, 0, 0.3);
    backdrop-filter: blue(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 
        1px solid 
        rgba(255, 255, 255, 0.151);
    z-index: 1;
    padding: 3em 2em;
    overflow-y: scroll;
}

.panel::-webkit-scrollbar {
    width: 10px;
}
/* Track */
.panel::-webkit-scrollbar-track {
    border: 1px solid #000;
    padding: 2px 0;
    background-color: #404040;
}

.panel::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.582);
    background-color: #727171;
    border: 1px solid #000;
}

.panel form {
    margin-bottom: 3em;
}

.submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em;
    margin: 0;
    border: none;
    outline: none;
    background: rgb(21, 137, 214);
    color: #fff;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.4s;
}

.submit:hover {
    background: #fff !important;
    color: #000;
}

.search-bar {
    background: none;
    border: none;
    border-bottom: 1px #ccc solid;
    padding: 0 1em 0.5em 0;
    width: 80%;
    color: #fff;
    font-size: 1.3em;
}

.search-bar:focus {
    outline: none;
}

.search-bar::placeholder {
    color: #ccc;
}

.panel ul {
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px #ccc solid;
}

.panel ul li {
    margin: 2.5em 0;
    color: #ccc
}

.panel ul h4 {
    margin: 3em 0;
}

.city {
    display: block;
    cursor: pointer;
}

.city:hover {
    color: #fff;
}

.details li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loading {
    font-size: 50px;
}

@media screen and (max-width: 800px) {
    .panel, .container {
        position: relative;
        width: 100%;
        top: initial;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 300px) {
    .weather-app {
        min-height: 400em;
    }
}